.resipient-info__number {
    max-width: 287px;
    width: 100%;
    padding: 10px 14px 12px 14px;
    background: #FFFFFF;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
}

@media screen and (max-width: 400px){
    .resipient-info__number{
        max-width: 330px;
        border: none;
        border-radius: 0px;
        display: flex;
        align-items: center;
        padding: 0;
    }
}