.delivery-methods__adress {
    font-family: 'PTRootUI', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    margin: 0;
    max-width: 360px;
    width: 100%;
}

@media screen and (max-width: 400px){
    .delivery-methods__adress{
        font-size: 14px;
        line-height: 18px;
    }
}