.resipient-info__number-title-small{
    display: none;
}

@media screen and (max-width: 400px){
    .resipient-info__number-title-small{
        display: block;
        font-family: 'PTRootUI', 'Arial', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.13px;
        margin: 0;
    }
}