.footer {
    background-color: #F8F8F8;
    border: 1px solid #D6D6D6;
    position: sticky;
    bottom: 0;
    left: 0;
    display: flex;
    max-width: 1905px;
    width: 100%;
    padding: 20px 0;
}